@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result;
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>

<body>
    <div class="header">
        @{if (SignInManager.IsSignedIn(User))
        {
            <div class="headercolumn">
                Credits: @user.Credits
            </div>
            <div class="headercolumn btn-link">
                Profile @Html.ActionLink("Profile", "Profile", "Home", new { id = user.Id }, new { @class = "btn-link" })
            </div>
            <div class="headercolumn btn-link">
                Logout @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn-link" })
            </div>
            <div class="headercolumn btn-link">
                Home @Html.ActionLink("Home", "Dashboard", "Home", null, new { @class = "btn-link" })
            </div>
        }
        else
        {
            <div class="headercolumn"></div>
            <div class="headercolumn btn-link">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div class="headercolumn btn-link">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        }}
    </div>
</body>