@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css?family=Marcellus+SC" rel="stylesheet">
    <style>
        html{
            background-image: url("https://www.riotgames.com/darkroom/1440/a4e88f6b04bf83f1c417e87292b85606:b62ff9b783f3dd26a6321e1440efe13b/riot-games-the-team-behind-worlds-2022-esports-broadcast-league-of-legends.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Marcellus SC', serif;
        }

        p {
            margin: 0;
            padding: 20px;
            background-color: #fff; /* Optional: Add a background color to the text */
            border: 1px solid #ccc; /* Optional: Add a border to the text */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add a subtle shadow */
            border-radius: 8px; /* Optional: Add rounded corners */
        }
    </style>
</head>
<body>
    @{
        if (ViewBag.ErrorMessage is not null)
        {
            <p>An error has occured: '@ViewBag.ErrorMessage'</p>  
        }
        else
        {        
            <p>An error has occurred.</p>
        }
    }
</body>
</html>