<!DOCTYPE html>
<html>
    <head >
        <link rel="stylesheet" href="TeamEditorStyle.css">

    </head>

<body style="background-color:black;">
    <table width="100%">
        <tr>
            <td width="30%" >
                <div class="parentLeft">
                    <img src="SelectorBackground.png" alt="" >
                    <div>
                        @*ide kell a választható játékosok listája*@
                    </div>
                <div>
            </td>
            <td  width="70%" align="center" style="vertical-align: top;">
                <div class="parentR">
                    <img src="map.png" alt="" >
                    <div class="childR childR-1">
                        <img src="PlayerBorder.png" alt="" width="75" height="75">
                        @*ide kell a top játékos*@
                    </div>
                    <div class="childR childR-2">
                        <img src="PlayerBorder.png" alt="" width="75" height="75">
                        @*ide kell a mid játékos*@
                    </div>
                    <div class="childR childR-3">
                        <img src="PlayerBorder.png" alt="" width="75" height="75">
                        @*ide kell a jungle játékos*@
                    </div>
                    <div class="childR childR-4">
                        <img src="PlayerBorder.png" alt="" width="75" height="75">
                        @*ide kell a supp játékos*@
                    </div>
                    <div class="childR childR-5">
                        <img src="PlayerBorder.png" alt="" width="75" height="75">
                        @*ide kell a adc játékos*@
                    </div>
                <div>
            </td>
        </tr>
    </table>

</body>
</html>

