body {
    font-family: 'Marcellus SC', serif;
    background-image: url('https://preview.redd.it/lfd0mem548e61.jpg?width=640&crop=smart&auto=webp&s=52a2cfbb758c1f217287e8c25e6e82c89a4cd615');
    background-repeat: no-repeat;
    background-size: cover;
}

.matchCard {
    display: flex;
    width: 700px;
    height: 68px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

    .matchCard::after {
        content: "";
        clear: both;
        display: table;
    }

.teamName {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 20%;
    height: 68px;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

.matchScore {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    border: 1px solid #ccc;
    background-color: white;
    font-size: 24px;
}

.playerCard {
    height: 68px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: move;
    margin: 0px;
}

    .playerCard::after {
        content: "";
        clear: both;
        display: table;
        margin: 0px;
    }

.playerImgCol {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 68px; /* Each column takes up one-third of the container */
    height: 68px;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    border: 1px solid #ccc;
    margin: 0px;
    background-size: cover;
}

    .playerImgCol img {
        max-width: 48px;
        max-height: 48px;
        margin: 0px;
    }

.playerStatCol {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 67%; /* Each column takes up one-third of the container */
    height: 68px;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    border: 1px solid #ccc;
    background-color: white;
    margin: 0px;
}

.playerPrice{
    color: pink;
    font-size: 24px;
}

.containerDash {
    border: solid;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "playerStoreArea mainArea ownPlayersArea";
}

.playerStoreArea {
    height: 80vh;
    overflow-y: auto;
    grid-area: playerStoreArea;
}

.ownPlayersArea {
    height: 80vh;
    overflow-y: auto;
    grid-area: ownPlayersArea;
}

.mainArea {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "mapArea"
        "matchesArea";
    grid-area: mainArea;
}

.mapArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "topArea . ."
        "jgArea midArea ."
        ". supArea adcArea";
    grid-area: mapArea;
    background-image: url('https://www.hotspawn.com/app/uploads/2020/03/summoners-rift.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.midArea {
    
    grid-area: midArea;
    display: grid;
    justify-content: center;
    align-items: center;
}

.topArea {
    
    grid-area: topArea;
    display: grid;
    justify-content: center;
    align-items: center;
}

.adcArea {
    
    grid-area: adcArea;
    display: grid;
    justify-content: start;
    align-items: end;
}

.supArea {
    
    grid-area: supArea;
    display: grid;
    justify-content: center;
    align-items: end;
}

.jgArea {
    
    grid-area: jgArea;
    display: grid;
    justify-content: center;
    align-items: center;
}

.matchesArea {
    height: 40vh;
    overflow-y: scroll;
    grid-area: matchesArea;
}


/* Chat Popup Styles */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 2px solid #c8aa6d;
    z-index: 9;
    width: 500px;
    background-color: #73674B;
}

.chat-header {
    padding: 10px;
    background-color: #1e2328;
    color: #cdbe91;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-title {
    margin: 0;
}

.close-chat {
    background: none;
    border: none;
    color: #cdbe91;
    font-size: 24px;
    cursor: pointer;
}

.chat-messages {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #73674B;
}

.chat-form {
    display: flex;
    padding: 10px;
}

    .chat-form input[type="text"] {
        flex: 1;
        padding: 10px;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .chat-form button {
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }

.open-chat {
    font-family: 'Marcellus SC', serif;
    position: fixed;
    bottom: 20px;
    right: 15px;
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
    border-image-slice: 1;
    border-width: 2px;
    box-shadow: inset 0 0 2px #000000;
    color: #cdbe91;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}